@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: high-quality;
  backface-visibility: hidden;
  transform: translateZ(0);
}

/* Estilos base para eliminar márgenes y hacer que el body y html ocupen toda la pantalla */
html, body {
  @apply m-0 p-0 w-full h-full;
}

#root {
  @apply w-full h-full;
}

/* Ocultar las flechas en WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ocultar en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}